*{  
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui;
}

body{
    background-attachment: fixed;
    overflow: hidden;
}

/*Fo reszek*/

.wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #fff;
}

.form-box{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 512px;
    height: auto;
    overflow: hidden;
    z-index: 2;
}

/*Kontenerek*/

.login-container{
    display: flex;
    position: relative;
    left: 0px;
    width: 500px;
    flex-direction: column;
    transition: left 0.5s ease-in-out, right 0.5s ease-in-out, opacity 0.5s ease-in-out, visibility 0.5s ease-in-out;
    border: 1px solid black;
    border-radius: 20px;
    box-shadow: 1px 5px 7px 1px rgba(0, 0, 0, 0.2);
    padding: 20px;
}

.register-container{
    display: none;
    position: relative;
    right: -520px;
    width: 500px;
    flex-direction: column;
    transition: left 0.5s ease-in-out, right 0.5s ease-in-out, opacity 0.5s ease-in-out, visibility 0.5s ease-in-out;
    border: 1px solid black;
    border-radius: 20px;
    box-shadow: 1px 5px 7px 1px rgba(0, 0, 0, 0.2);
    padding: 10px 15px 10px 15px;
}

.password-container{
    display: none;
    position: relative;
    left: -520px;
    width: 500px;
    flex-direction: column;
    transition: left 0.5s ease-in-out, right 0.5s ease-in-out, opacity 0.5s ease-in-out, visibility 0.5s ease-in-out;
    border: 1px solid black;
    border-radius: 20px;
    box-shadow: 1px 5px 7px 1px rgba(0, 0, 0, 0.2);
    padding: 20px;   
}


/*Gombok*/

.registerBtn{
    font-size: 12px;
    margin-right: 10px;
}

.loginBtn{
    font-size: 12px;
    margin-left: 10px;
}

.lo-reg-btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.lo-reg-btn .btn{
    width: 200px;
    height: 40px;
    font-weight: 500;
    background: #fff;
    border: 1px solid black;
    border-radius: 30px;
    cursor: pointer;
    transition: .3s ease;
}


.submit{
    font-size: 12px;
    font-weight: 500;
    color: black;
    height: 45px;
    width: 100%;
    border: 1px solid black;
    border-radius: 30px;
    outline: none;
    background: #fff;
    cursor: pointer;
    transition: .3s ease-in-out;
    padding-bottom: 0px;
}

.visszaBtn{
    width: 50px;
    font-size: 20px;
    background: none;
    border: none;
    cursor: pointer;
}

#light-mode , #dark-mode{
    color: black;
    border: #000 1px solid;
}

/*Hoverek*/

.link:hover, .active{
    border-bottom: 2px solid #000;
}

.btn:hover{
    background: #fff;
}

.btn.btn.white-btn:hover{
    background: #fff;
    box-shadow: 1px 5px 7px 1px rgba(0, 0, 0, 0.2);
}

.input-field:hover, .input-field:focus ,
.textbox:hover, .textbox:focus{
    background: #fff;
}

.submit:hover{
    background: #fff;
    box-shadow: 1px 5px 7px 1px rgba(0, 0, 0, 0.2);
}

.two label a:hover{
    text-decoration: underline;
}

.passBtn:hover{
    box-shadow: none;
}

/*Div*/
.input-box {
  position: relative;
  margin-bottom: 20px;
}

.input-field {
    font-size: 12px;
    background: #fff;
    color: #000;
    height: 50px;
    width: 100%;
    padding: 0 10px 0 45px;  
    border: 1px solid black;
    border-radius: 30px;
    outline: none;
    transition: .2s ease;
}

.form-box, .login-container {
    height: auto;
}

/*Iconok*/

.input-box i {
  position: absolute;
  left: 17px;
  top: 50%;
  transform: translateY(-50%);
}


.dropdown i {
    position: absolute;
    left: 17px;
    top: 50%;
    transform: translateY(-50%);
    color: #000;
    font-size: 18px;
    z-index: 100;
}

.input-box i.fa-eye, .input-box i.fa-eye-slash { 
    position: absolute !important;
    right: 17px; 
    top: 50%;
    transform: translateY(-50%);
    left: 420px;
    cursor: pointer;
    font-size: 18px;
    z-index: 2;
    color: #000;
}

/*Csuszka eltuntetes*/

input[type="number"]::-webkit-inner-spin-button ,
input[type="number"]::-webkit-outer-spin-button{
    -webkit-appearance: none;
    margin: 0;
}
input[type="number"]{
    -moz-appearance: textfield;
}

/*Also szovegek*/

.two-col{
    display: flex;
    justify-content: space-between;
    color: #000;
    font-size: small;
}
.two-col .one{
    display: flex;
    gap: 5px;
}
.two label a{
    text-decoration: none;
    color: #000;
}

/*Cimek*/

header{
    color: #000;
    font-size: 20px;
    text-align: center;
    padding: 10px 0 30px 0;
}

/*Lenyilo valasztasnal*/

.dropdown{
    position: relative;
    width: 100%;
    height: 50px;
    margin-bottom: 0px;}

.dropdown::before {
    content: "";
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%) rotate(-45deg);  
    z-index: 100;
    width: 8px;
    height: 8px;    
    border: 1px solid black;
    border-top: 1px solid #fff;
    border-right: 1px solid #fff;
    transition: 0.5s;
    pointer-events: none;
}

.dropdown.active::before {
    transform: translateY(-50%) rotate(135deg);  
}

.dropdown input {
    position: relative;
    z-index: 1; 
    height: 50px;
    width: 100%;
    cursor: pointer;
    font-size: 12px;
    background: #fff;
    color: #000;
    padding: 0 50px 0 50px;  
    border: 1px solid black;
    border-radius: 30px;
    outline: none;
    transition: .2s ease;
    margin-bottom: 0; 
    box-shadow: none;  
}


.dropdown .option{
    position: absolute;
    top: 50px;
    width: 100%;
    background: #fff;
    box-shadow: 0 30px 30px rgba(0, 0, 0, 0.05);
    border-radius: 30px;
    overflow: hidden;
    display: none;
    z-index: 999; 
}


.dropdown.active .option{
    display: block;
}

.dropdown .option div {
    padding: 12px 20px;  
    cursor: pointer;
    border-bottom: 1px solid #eee;  
}

.dropdown .option div:last-child {
    border-bottom: none;
}

.input-field:hover, .input-field:focus {
    background: #fff;
    box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.1); 
}